<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather</title>
    <link rel="shortcut icon" href="../images/drizzle.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
</head>
<body>
  <div class="blur z-0"></div>
    <div class="overlay vh-100 vw-100 d-flex flex-column flex-lg-row align-items-center justify-content-center gap-5 gap-lg-0">
        <div class="col-12 col-lg-6 d-flex flex-column align-items-center justify-content-center p-5 gap-3 z-2">
          <div class="d-flex gap-2">
            <img src="../images/drizzle.png" width="40" height="32" alt="">
            <h3 class="text-center 6 text-white">SunCloud</h3>
  
          </div>
          <p class="text-center text-white fs-5"> A simple and elegant weather app that shows you the current temperature, humidity, wind
            speed, and cloud cover for any location in the world.</p>
        </div>
        <div class="col-12 col-lg-6 p-5 d-flex align-items-center justify-content-center z-2">
          <form action="/weather" method="post" class=" w-50 d-flex flex-column gap-2 justify-content-center"
            role="search">
            <input name="city" type="search" class="form-control" placeholder="Search by Location..." aria-label="Search" required>
            <button type="submit" id="overlay-btn" class="btn btn-outline-light me-2">Search for weather</button>
  
          </form>
        </div>
  
      </div>
</body>
</html>